.header{
    width: 800px;
    align-items: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background:gainsboro;
}

.header-left-box {
    float: left;
}
.header-middle-box {
    width: 300px;
    position: relative;

}

.search-bar {
    width : 100%;
    border-radius: 8px;
    font-size: 14px;
}

.search-img {
    position: absolute;
    width: 17px;
    margin: 0;
    right: -30px;
    top : 5px;
}

.header-right-box{
   
   position: relative;
}
.toggle-bar-btn {
    height: 100px;
    width: 100px;
}
.toggle-bar-btn:hover #menu-list {
    display: block;
}
#menu-list {
    display: none;
}
.imgbox {
    height: 50px;
    width: 50px;
}

.imgbox :hover .toggle-list{
 display: block;
}